# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\A_work\workspace\spring_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
